.map-search
	.container-fluid
		.row
			.col-xs-12
				form#filters-menu(name='filters' ng-submit='mapSearch.loadAll()' novalidate)
					nav.navbar.navbar-default.drop-shadow(role='navigation')
						button.navbar-toggle(data-toggle='collapse' data-target='#filters-menu .collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
					
						.collapse.navbar-collapse
							ul.nav.navbar-nav
								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-map-marker
										| Cidade
										.toto
											b.caret
									ul.dropdown-menu
										li(ng-repeat='c in mapSearch.filters.city track by $index')
											div
												.checkbox-custom
													input(id='cidade-{{$index + 1}}' name='cidade' type='checkbox' ng-value='c.city_id' ng-click='mapSearch.toggleCheckbox("cidade", c.city_id)')
													label(for='cidade-{{$index + 1}}')
												| {{c.city_name}}

								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-handshake-o
										| Categoria
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.radio-custom
													input#categoria-todos(name='categoria' type='radio' value='0' ng-model='mapSearch.search.categoria')
													label(for='categoria-todos')
												| Todos
										li
											div
												.radio-custom
													input#categoria-aluguel(name='categoria' type='radio' value='1' ng-model='mapSearch.search.categoria')
													label(for='categoria-aluguel')
												| Aluguel
										li
											div
												.radio-custom
													input#categoria-venda(name='categoria' type='radio' value='2' ng-model='mapSearch.search.categoria')
													label(for='categoria-venda')
												| Venda

								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-building-o
										| Tipos
										.toto
											b.caret
									ul.dropdown-menu(style='max-height: 400px; overflow-y: auto')
										li(ng-repeat='c in mapSearch.filters.category track by $index')
											div
												.checkbox-custom
													input(id='category-{{$index + 1}}' name='tipo' type='checkbox' ng-value='c.immobile_category_id' ng-click='mapSearch.toggleCheckbox("tipo", c.immobile_category_id)')
													label(for='category-{{$index + 1}}')
												| {{c.immobile_category_name}}

								li.dropdown(name='slider')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-usd
										| Valor
										.toto
											b.caret
									.dropdown-menu.dropdown-custom
										.slider
											.input-container.price-label
												input.form-control(name='minValue' ng-model='mapSearch.sliderPrice.min' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span R$
											.slider-container
												rzslider(rz-slider-model='mapSearch.sliderPrice.min' rz-slider-high='mapSearch.sliderPrice.max' rz-slider-options='mapSearch.sliderPrice.options')
											.input-container.price-label
												input.form-control(name='maxValue' ng-model='mapSearch.sliderPrice.max' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span R$

								li.dropdown(name='slider')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.futura-ruler-h-o
										| Área
										.toto
											b.caret
									.dropdown-menu.dropdown-custom
										.slider
											.input-container.area-label
												input.form-control(name='minArea' ng-model='mapSearch.sliderArea.min' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span m&#178;
											.slider-container
												rzslider(rz-slider-model='mapSearch.sliderArea.min' rz-slider-high='mapSearch.sliderArea.max' rz-slider-options='mapSearch.sliderArea.options')
											.input-container.area-label
												input.form-control(name='maxArea' ng-model='mapSearch.sliderArea.max' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span m&#178;

								li.dropdown(ng-if='innerWidth >= 1000')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-bed
										| Dormitórios
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.checkbox-custom
													input#dorm-1(name='dormitorio' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("dormitorio", 1)')
													label(for='dorm-1')
												| 1 Dorm
										li
											div
												.checkbox-custom
													input#dorm-2(name='dormitorio' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("dormitorio", 2)')
													label(for='dorm-2')
												| 2 Dorms
										li
											div
												.checkbox-custom
													input#dorm-3(name='dormitorio' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("dormitorio", 3)')
													label(for='dorm-3')
												| 3 Dorms
										li
											div
												.checkbox-custom
													input#dorm-4(name='dormitorio' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("dormitorio", 4)')
													label(for='dorm-4')
												| 4+ Dorms

								li.dropdown(ng-if='innerWidth >= 1150')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-shower
										| Banheiros
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.checkbox-custom
													input#banho-1(name='banheiro' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("banheiro", 1)')
													label(for='banho-1')
												| 1 Banheiro
										li
											div
												.checkbox-custom
													input#banho-2(name='banheiro' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("banheiro", 2)')
													label(for='banho-2')
												| 2 Banheiros
										li
											div
												.checkbox-custom
													input#banho-3(name='banheiro' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("banheiro", 3)')
													label(for='banho-3')
												| 3 Banheiros
										li
											div
												.checkbox-custom
													input#banho-4(name='banheiro' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("banheiro", 4)')
													label(for='banho-4')
												| 4+ Banheiros

								li.dropdown(ng-if='innerWidth >= 1300')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-bathtub
										| Suíte
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.radio-custom
													input#suite-todos(name='suite' type='radio' value='0' ng-model='mapSearch.search.suite')
													label(for='suite-todos')
												| Todos
										li
											div
												.radio-custom
													input#suite-sem(name='suite' type='radio' value='1' ng-model='mapSearch.search.suite')
													label(for='suite-sem')
												| Sem suíte
										li
											div
												.radio-custom
													input#suite-com(name='suite' type='radio' value='2' ng-model='mapSearch.search.suite')
													label(for='suite-com')
												| Com suíte

								li.dropdown(ng-if='innerWidth >= 1450')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-car
										| Garagem
										.toto
											b.caret
									ul.dropdown-menu.dropdown-menu-right
										li
											div
												.radio-custom
													input#garagem-todos(name='garagem' type='radio' value='0' ng-model='mapSearch.search.garagem')
													label(for='garagem-todos')
												| Todos
										li
											div
												.radio-custom
													input#garagem-sem(name='garagem' type='radio' value='1' ng-model='mapSearch.search.garagem')
													label(for='garagem-sem')
												| Sem garagem
										li
											div
												.radio-custom
													input#garagem-com(name='garagem' type='radio' value='2' ng-model='mapSearch.search.garagem')
													label(for='garagem-com')
												| Com garagem

								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-bars
										| Mais
										.toto
											b.caret
									.dropdown-menu.dropdown-menu-right.dropdown-custom
										.overflowed-filters(ng-if='innerWidth < 1450')
											.offset-bottom-15(ng-if='innerWidth < 1000')
												h4.text-primary
													i.fa.fa-bed &nbsp;
													| Dormitórios
												ul.list-unstyled
													li
														div
															.checkbox-custom
																input#dorm-1(name='dormitorio' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("dormitorio", 1)')
																label(for='dorm-1')
															| 1 Dorm
													li
														div
															.checkbox-custom
																input#dorm-2(name='dormitorio' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("dormitorio", 2)')
																label(for='dorm-2')
															| 2 Dorms
													li
														div
															.checkbox-custom
																input#dorm-3(name='dormitorio' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("dormitorio", 3)')
																label(for='dorm-3')
															| 3 Dorms
													li
														div
															.checkbox-custom
																input#dorm-4(name='dormitorio' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("dormitorio", 4)')
																label(for='dorm-4')
															| 4+ Dorms

											.offset-bottom-15(ng-if='innerWidth < 1150')
												h4.text-primary
													i.fa.fa-shower &nbsp;
													| Banheiros
												ul.list-unstyled
													li
														div
															.checkbox-custom
																input#banho-1(name='banheiro' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("banheiro", 1)')
																label(for='banho-1')
															| 1 Banheiro
													li
														div
															.checkbox-custom
																input#banho-2(name='banheiro' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("banheiro", 2)')
																label(for='banho-2')
															| 2 Banheiros
													li
														div
															.checkbox-custom
																input#banho-3(name='banheiro' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("banheiro", 3)')
																label(for='banho-3')
															| 3 Banheiros
													li
														div
															.checkbox-custom
																input#banho-4(name='banheiro' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("banheiro", 4)')
																label(for='banho-4')
															| 4+ Banheiros

											.offset-bottom-15(ng-if='innerWidth < 1300')
												h4.text-primary
													i.fa.fa-bathtub &nbsp;
													| Suíte
												ul.list-unstyled
													li
														div
															.radio-custom
																input#suite-todos(name='suite' type='radio' value='0' ng-model='mapSearch.search.suite')
																label(for='suite-todos')
															| Todos
													li
														div
															.radio-custom
																input#suite-sem(name='suite' type='radio' value='1' ng-model='mapSearch.search.suite')
																label(for='suite-sem')
															| Sem suíte
													li
														div
															.radio-custom
																input#suite-com(name='suite' type='radio' value='2' ng-model='mapSearch.search.suite')
																label(for='suite-com')
															| Com suíte

											.offset-bottom-15(ng-if='innerWidth < 1450')
												h4.text-primary
													i.fa.fa-car &nbsp;
													| Garagem
												ul.list-unstyled
													li
														div
															.radio-custom
																input#garagem-todos(name='garagem' type='radio' value='0' ng-model='mapSearch.search.garagem')
																label(for='garagem-todos')
															| Todos
													li
														div
															.radio-custom
																input#garagem-sem(name='garagem' type='radio' value='1' ng-model='mapSearch.search.garagem')
																label(for='garagem-sem')
															| Sem garagem
													li
														div
															.radio-custom
																input#garagem-com(name='garagem' type='radio' value='2' ng-model='mapSearch.search.garagem')
																label(for='garagem-com')
															| Com garagem
										.code-search
											h4.text-primary
												| Código do imóvel
											input.form-control(placeholder='Ex. 988021' ng-model='code')
											button.btn.btn-block.btn-lg.btn-primary.offset-top-15(type='button' ng-click='mapSearch.getImmobileByCode(code)') Buscar

	.uber-container(ng-style='{ "min-height": innerHeight, "height": innerHeight, "max-height": innerHeight }')
		.map-loading(ng-if='isMapLoading()')
			.loading-spinner
				.spinner(style='transform: scale(2)')
					.rect1
					.rect2
					.rect3
					.rect4
					.rect5

		//- .hidden-xs.col-sm-5.col-md-4
		.side-menu-container
			.row.side-menu
				.col-sm-12
					.summary.clearfix.offset-top-15
						span.text-primary.text-md 20 Imóveis encontrados
						button.btn.btn-primary.btn-outline.pull-right() Limpar filtros

				.cards-container
					.col-sm-12.col-lg-6(ng-repeat='n in mapSearch.positions')
						card(
							title='{{n.message}}'
							subtitle='Teresopolis - Bairro doido'
							picture='{{n.pic}}'
							pictureLg='{{n.pic}}'
							description='{{n.message}}'
						)

		//- .col-xs-12.col-sm-7.col-md-8.map-container(ng-style='{ "min-height": innerHeight, "height": innerHeight, "max-height": innerHeight }')
		.map-container
			ng-map.map(default-style="false" center='[40.74, -74.18]' zoom='15' scrollwheel='true' ng-style='{ "min-height": innerHeight, "height": innerHeight, "max-height": innerHeight }')
				custom-marker(id='marker-{{p.code}}' position='[{{p.position[0]}}, {{p.position[1]}}]' on-click='mapSearch.showInfo(event, "marker-{{p.code}}")' ng-repeat='p in mapSearch.positions track by $index')
					.custom-marker
						.head
							.hole
								i.fa.fa-home
						.arrow
						.shadow
							.head
							.arrow

				info-window#search-info-window(template='../partials/map-preview.html')