.map-search
	.container-fluid
		.map-loading(ng-if='mapSearch.isLoading()')
			.loading-spinner
				.spinner(style='transform: scale(2)')
					.rect1
					.rect2
					.rect3
					.rect4
					.rect5
		.row
			.col-xs-12
				form#filters-menu(name='filters' ng-submit='' novalidate)
					nav.navbar.navbar-default.drop-shadow(role='navigation')
						button.navbar-toggle(data-toggle='collapse' data-target='#filters-menu .collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
					
						.collapse.navbar-collapse
							ul.nav.navbar-nav
								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-map-marker
										| Cidade
										.toto
											b.caret
									ul.dropdown-menu
										li(ng-repeat='c in mapSearch.filters.city track by $index')
											div
												.radio-custom
													input(id='cidade-{{$index + 1}}' name='cidade' type='radio' value='{{c.city_id}}' ng-model='mapSearch.search.cidade'  ng-checked='mapSearch.search.cidade.indexOf(c.city_id) >= 0')
													label(for='cidade-{{$index + 1}}')
												label(for='cidade-{{$index + 1}}')
													| {{c.city_name}}

								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-handshake-o
										| Categoria
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.radio-custom
													input#categoria-todos(name='categoria' type='radio' value='0' ng-model='mapSearch.search.categoria' ng-checked='mapSearch.search.categoria == 0')
													label(for='categoria-todos')
												label(for='categoria-todos')
													| Todos
										li
											div
												.radio-custom
													input#categoria-aluguel(name='categoria' type='radio' value='2' ng-model='mapSearch.search.categoria' ng-checked='mapSearch.search.categoria == 2')
													label(for='categoria-aluguel')
												label(for='categoria-aluguel')
													| Aluguel
										li
											div
												.radio-custom
													input#categoria-venda(name='categoria' type='radio' value='1' ng-model='mapSearch.search.categoria' ng-checked='mapSearch.search.categoria == 1')
													label(for='categoria-venda')
												label(for='categoria-venda')
													| Venda

								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-building-o
										| Tipos
										.toto
											b.caret
									ul.dropdown-menu(style='max-height: 400px; overflow-y: auto')
										li(ng-repeat='c in mapSearch.filters.category track by $index')
											div
												.checkbox-custom
													input(id='category-{{$index + 1}}' name='tipo' type='checkbox' ng-value='c.immobile_category_id' ng-click='mapSearch.toggleCheckbox("tipo", c.immobile_category_id)' ng-checked='mapSearch.search.tipo.indexOf(c.immobile_category_id) >= 0')
													label(for='category-{{$index + 1}}')
												label(for='category-{{$index + 1}}')
													| {{c.immobile_category_name}}

								li.dropdown(name='slider')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-usd
										| Valor
										.toto
											b.caret
									.dropdown-menu.dropdown-custom
										.slider
											.input-container.price-label
												input.form-control(name='minValue' ng-model='mapSearch.sliderPrice.min' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span R$
											.slider-container
												rzslider(rz-slider-model='mapSearch.sliderPrice.min' rz-slider-high='mapSearch.sliderPrice.max' rz-slider-options='mapSearch.sliderPrice.options')
											.input-container.price-label
												input.form-control(name='maxValue' ng-model='mapSearch.sliderPrice.max' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span R$

								li.dropdown(name='slider')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.futura-ruler-h-o
										| Área
										.toto
											b.caret
									.dropdown-menu.dropdown-custom
										.slider
											.input-container.area-label
												input.form-control(name='minArea' ng-model='mapSearch.sliderArea.min' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span m&#178;
											.slider-container
												rzslider(rz-slider-model='mapSearch.sliderArea.min' rz-slider-high='mapSearch.sliderArea.max' rz-slider-options='mapSearch.sliderArea.options')
											.input-container.area-label
												input.form-control(name='maxArea' ng-model='mapSearch.sliderArea.max' ng-model-options='{ debounce: 1000 }' ng-change='mapSearch.updateSliderValues()' number-only)
												span m&#178;

								li.dropdown(ng-if='innerWidth >= 1000')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-bed
										| Dormitórios
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.checkbox-custom
													input#dorm-1(name='dormitorio' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("dormitorio", 1)' ng-checked='mapSearch.search.dormitorio.indexOf(1) >= 0')
													label(for='dorm-1')
												label(for='dorm-1')
													| 1 Dorm
										li
											div
												.checkbox-custom
													input#dorm-2(name='dormitorio' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("dormitorio", 2)' ng-checked='mapSearch.search.dormitorio.indexOf(2) >= 0')
													label(for='dorm-2')
												label(for='dorm-2')
													| 2 Dorms
										li
											div
												.checkbox-custom
													input#dorm-3(name='dormitorio' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("dormitorio", 3)' ng-checked='mapSearch.search.dormitorio.indexOf(3) >= 0')
													label(for='dorm-3')
												label(for='dorm-3')
													| 3 Dorms
										li
											div
												.checkbox-custom
													input#dorm-4(name='dormitorio' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("dormitorio", 4)' ng-checked='mapSearch.search.dormitorio.indexOf(4) >= 0')
													label(for='dorm-4')
												label(for='dorm-4')
													| 4+ Dorms

								li.dropdown(ng-if='innerWidth >= 1150')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-shower
										| Banheiros
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.checkbox-custom
													input#banho-1(name='banheiro' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("banheiro", 1)' ng-checked='mapSearch.search.banheiro.indexOf(1) >= 0')
													label(for='banho-1')
												label(for='banho-1')
													| 1 Banheiro
										li
											div
												.checkbox-custom
													input#banho-2(name='banheiro' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("banheiro", 2)' ng-checked='mapSearch.search.banheiro.indexOf(2) >= 0')
													label(for='banho-2')
												label(for='banho-2')
													| 2 Banheiros
										li
											div
												.checkbox-custom
													input#banho-3(name='banheiro' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("banheiro", 3)' ng-checked='mapSearch.search.banheiro.indexOf(3) >= 0')
													label(for='banho-3')
												label(for='banho-3')
													| 3 Banheiros
										li
											div
												.checkbox-custom
													input#banho-4(name='banheiro' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("banheiro", 4)' ng-checked='mapSearch.search.banheiro.indexOf(4) >= 0')
													label(for='banho-4')
												label(for='banho-4')
													| 4+ Banheiros

								li.dropdown(ng-if='innerWidth >= 1300')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-bathtub
										| Suíte
										.toto
											b.caret
									ul.dropdown-menu
										li
											div
												.radio-custom
													input#suite-todos(name='suite' type='radio' value='-1' ng-model='mapSearch.search.suite' ng-checked='mapSearch.search.suite == -1')
													label(for='suite-todos')
												label(for='suite-todos')
													| Todos
										li
											div
												.radio-custom
													input#suite-sem(name='suite' type='radio' value='0' ng-model='mapSearch.search.suite' ng-checked='mapSearch.search.suite == 0')
													label(for='suite-sem')
												label(for='suite-sem')
													| Sem suíte
										li
											div
												.radio-custom
													input#suite-com(name='suite' type='radio' value='1' ng-model='mapSearch.search.suite' ng-checked='mapSearch.search.suite == 1')
													label(for='suite-com')
												label(for='suite-com')
													| Com suíte

								li.dropdown(ng-if='innerWidth >= 1450')
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-car
										| Garagem
										.toto
											b.caret
									ul.dropdown-menu.dropdown-menu-right
										li
											div
												.radio-custom
													input#garagem-todos(name='garagem' type='radio' value='-1' ng-model='mapSearch.search.garagem' ng-checked='mapSearch.search.garagem == -1')
													label(for='garagem-todos')
												label(for='garagem-todos')
													| Todos
										li
											div
												.radio-custom
													input#garagem-sem(name='garagem' type='radio' value='0' ng-model='mapSearch.search.garagem' ng-checked='mapSearch.search.garagem == 0')
													label(for='garagem-sem')
												label(for='garagem-sem')
													| Sem garagem
										li
											div
												.radio-custom
													input#garagem-com(name='garagem' type='radio' value='1' ng-model='mapSearch.search.garagem' ng-checked='mapSearch.search.garagem == 1')
													label(for='garagem-com')
												label(for='garagem-com')
													| Com garagem

								li.dropdown
									a.dropdown-toggle(href='' data-toggle='dropdown')
										i.fa.fa-bars
										| Mais
										.toto
											b.caret
									.dropdown-menu.dropdown-menu-right.dropdown-custom
										.overflowed-filters(ng-if='innerWidth < 1450')
											.offset-bottom-15(ng-if='innerWidth < 1000')
												h4.text-primary
													i.fa.fa-bed &nbsp;
													| Dormitórios
												ul.list-unstyled
													li
														div
															.checkbox-custom
																input#dorm-1(name='dormitorio' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("dormitorio", 1)' ng-checked='mapSearch.search.dormitorio == 1')
																label(for='dorm-1')
															label(for='dorm-1')
																| 1 Dorm
													li
														div
															.checkbox-custom
																input#dorm-2(name='dormitorio' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("dormitorio", 2)' ng-checked='mapSearch.search.dormitorio == 2')
																label(for='dorm-2')
															label(for='dorm-2')
																| 2 Dorms
													li
														div
															.checkbox-custom
																input#dorm-3(name='dormitorio' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("dormitorio", 3)' ng-checked='mapSearch.search.dormitorio == 3')
																label(for='dorm-3')
															label(for='dorm-3')
																| 3 Dorms
													li
														div
															.checkbox-custom
																input#dorm-4(name='dormitorio' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("dormitorio", 4)' ng-checked='mapSearch.search.dormitorio == 4')
																label(for='dorm-4')
															label(for='dorm-4')
																| 4+ Dorms

											.offset-bottom-15(ng-if='innerWidth < 1150')
												h4.text-primary
													i.fa.fa-shower &nbsp;
													| Banheiros
												ul.list-unstyled
													li
														div
															.checkbox-custom
																input#banho-1(name='banheiro' type='checkbox' value='1' ng-click='mapSearch.toggleCheckbox("banheiro", 1)' ng-checked='mapSearch.search.banheiro == 1')
																label(for='banho-1')
															label(for='banho-1')
																| 1 Banheiro
													li
														div
															.checkbox-custom
																input#banho-2(name='banheiro' type='checkbox' value='2' ng-click='mapSearch.toggleCheckbox("banheiro", 2)' ng-checked='mapSearch.search.banheiro == 2')
																label(for='banho-2')
															label(for='banho-2')
																| 2 Banheiros
													li
														div
															.checkbox-custom
																input#banho-3(name='banheiro' type='checkbox' value='3' ng-click='mapSearch.toggleCheckbox("banheiro", 3)' ng-checked='mapSearch.search.banheiro == 3')
																label(for='banho-3')
															label(for='banho-3')
																| 3 Banheiros
													li
														div
															.checkbox-custom
																input#banho-4(name='banheiro' type='checkbox' value='4' ng-click='mapSearch.toggleCheckbox("banheiro", 4)' ng-checked='mapSearch.search.banheiro == 4')
																label(for='banho-4')
															label(for='banho-4')
																| 4+ Banheiros

											.offset-bottom-15(ng-if='innerWidth < 1300')
												h4.text-primary
													i.fa.fa-bathtub &nbsp;
													| Suíte
												ul.list-unstyled
													li
														div
															.radio-custom
																input#suite-todos(name='suite' type='radio' value='-1' ng-model='mapSearch.search.suite' ng-checked='mapSearch.search.suite == -1')
																label(for='suite-todos')
															label(for='suite-todos')
																| Todos
													li
														div
															.radio-custom
																input#suite-sem(name='suite' type='radio' value='0' ng-model='mapSearch.search.suite' ng-checked='mapSearch.search.suite == 0')
																label(for='suite-sem')
															label(for='suite-sem')
																| Sem suíte
													li
														div
															.radio-custom
																input#suite-com(name='suite' type='radio' value='1' ng-model='mapSearch.search.suite' ng-checked='mapSearch.search.suite == 1')
																label(for='suite-com')
															label(for='suite-com')
																| Com suíte

											.offset-bottom-15(ng-if='innerWidth < 1450')
												h4.text-primary
													i.fa.fa-car &nbsp;
													| Garagem
												ul.list-unstyled
													li
														div
															.radio-custom
																input#garagem-todos(name='garagem' type='radio' value='-1' ng-model='mapSearch.search.garagem' ng-checked='mapSearch.search.garagem == -1')
																label(for='garagem-todos')
															label(for='garagem-todos')
																| Todos
													li
														div
															.radio-custom
																input#garagem-sem(name='garagem' type='radio' value='0' ng-model='mapSearch.search.garagem' ng-checked='mapSearch.search.garagem == 0')
																label(for='garagem-sem')
															label(for='garagem-sem')
																| Sem garagem
													li
														div
															.radio-custom
																input#garagem-com(name='garagem' type='radio' value='1' ng-model='mapSearch.search.garagem' ng-checked='mapSearch.search.garagem == 1')
																label(for='garagem-com')
															label(for='garagem-com')
																| Com garagem
										.code-search
											h4.text-primary
												| Código do imóvel
											input.form-control(placeholder='Ex. 988021' ng-model='code')
											button.btn.btn-block.btn-lg.btn-primary.offset-top-15(type='button' ng-click='mapSearch.getImmobileByCode(code)') Buscar

	.uber-container(ng-style='{ "min-height": innerHeight, "height": innerHeight, "max-height": innerHeight }')
		.side-menu-container
			.row.side-menu
				.col-sm-12
					.summary.clearfix.offset-top-15
						span.text-primary.text-md Exibindo {{mapSearch.cards.length}} {{mapSearch.cards.length == 1 ? 'imóvel' : 'imóveis'}}
						button.btn.btn-primary.btn-outline.pull-right(ng-click='mapSearch.clearSearch()') Limpar filtros

				.col-sm-12
					.no-results(ng-if='!mapSearch.cards.length')
						.icon
							i.fa.fa-home
						.info
							| Nenhum imóvel na área de exibição

				.cards-container(ng-if='mapSearch.cards.length')
					.col-sm-12.col-lg-6(ng-repeat='n in mapSearch.cards')
						card(
							code='{{n.code}}'
							picture='{{n.picture}}'
							pictureLg='{{n.pictureLg}}'
							title='{{n.title}}'
							parsedName='{{n.parsedName}}'
							subtitle='{{n.subtitle}}'
							description='{{n.description}}'
							category='{{n.category}}'
							area='{{n.area}}'
							price='{{n.price}}'
							url='{{n.url}}'
							bed='{{n.bed}}'
							suite='{{n.suite}}'
							bath='{{n.bath}}'
							parking='{{n.parking}}'
							thumbs='n.thumbs'
							ng-mouseenter='mapSearch.cardEnter(n.id)'
							ng-mouseleave='mapSearch.cardLeave(n.id)'
						)

		.map-container(ng-if='mapSearch.map.isReady')
			ui-gmap-google-map(
					center='mapSearch.map.center' 
					bounds='mapSearch.map.bounds' 
					zoom='mapSearch.map.zoom'
					events='mapSearch.map.events' 
					control='mapSearch.map.control' 
					options='mapSearch.map.options')
				ui-gmap-markers(
						models='mapSearch.map.markers' 
						type='"cluster"' 
						fit='false' 
						coords='"self"' 
						icon='"icon"' 
						control='mapSearch.map.markersControl' 
						options='"options"' 
						events='mapSearch.map.markerEvents' 
						typeEvents='mapSearch.map.cluster.events' 
						typeOptions='mapSearch.map.cluster.options')
				ui-gmap-window(
						show='mapSearch.map.window.show' 
						coords='mapSearch.map.window.coords' 
						templateUrl='"./partials/map-preview.html"' 
						templateParameter='mapSearch.map.window.selected' 
						options='mapSearch.map.window.options' 
						closeClick='mapSearch.map.window.closeClick()' 
						ng-cloak)

	#golimar.modal.fade(tabindex='-1' role='dialog')
		.vertical-alignment-helper
			.modal-dialog.modal-sm.vertical-align-center(role='document')
				.modal-content
					.modal-header
						//- button.close(data-dismiss='modal' aria-label='Fechar')
							span(aria-hidden='true') &times;
						h4.modal-title 
							i.fa.fa-map-o
							| Escolha uma cidade
					.modal-body
						p.text-center.text-gray.text-sm(ng-if='!mapSearch.filters.loaded')
							i.fa.fa-spinner.fa-spin
							br
							| Carregando cidades...
						.dropdown(ng-if='mapSearch.filters.loaded')
							button.btn.btn-default.btn-block.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
								i.fa.fa-map-marker
								| Cidade
								.toto
									b.caret
							ul.dropdown-menu
								li(ng-repeat='c in mapSearch.filters.city track by $index' data-dismiss='modal')
									a(href='' ng-click='mapSearch.search.cidade = c.city_id')
										| {{c.city_name}}